<!DOCTYPE html>
<html>
<head>
  <title>SnapTwitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do-%>
    <% if notice %>
      $(function(){noty({type:'success', text: <%= notice.to_json.html_safe %>, timeout: 1000});});
      <% end %>
    <% end -%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="span-24 title">
      <span class="snap">
        snap
      </span>
      <span class="whim">
        from
      </span>
      <span class="twitter">
        twitter
        <i class='icon-twitter'></i>
      </span>
      <% if current_user %>
        <%= link_to signout_path, class:'signout-link' do %>
          <i class="icon-signout"></i>
          signout
        <% end %>
      <% else %>
        <%= link_to '/auth/snapwhim', class: 'signin-link' do %>
          <i class="icon-signin"></i>
          レキアカでサインイン!
        <% end %>
      <% end %>
    </h1>
    <%= yield %>
  </div>
</body>
</html>
